function Main.main 1
push constant 8001
push constant 16
push constant 1
neg
call Main.fillMemory 3
pop temp 0
push constant 8000
call Memory.peek 1
pop local 0
push local 0
call Main.convert 1
pop temp 0
push constant 0
return
function Main.convert 3
push constant 1
neg
pop local 2
label LOOP_8B2373387A
push local 2
not
if-goto LOOP_DONE_1DBF8790AD
push local 1
push constant 1
add
pop local 1
push local 0
call Main.nextMask 1
pop local 0
push local 1
push constant 16
gt
not
not
if-goto ELSE_2EF39E5755
push argument 0
push local 0
and
push constant 0
eq
not
not
if-goto ELSE_6998860956
push constant 8000
push local 1
add
push constant 1
call Memory.poke 2
pop temp 0
goto IF_DONE_8F14A2F3C6
label ELSE_6998860956
push constant 8000
push local 1
add
push constant 0
call Memory.poke 2
pop temp 0
label IF_DONE_8F14A2F3C6
goto IF_DONE_2F86D66CA6
label ELSE_2EF39E5755
push constant 0
pop local 2
label IF_DONE_2F86D66CA6
goto LOOP_8B2373387A
label LOOP_DONE_1DBF8790AD
push constant 0
return
function Main.nextMask 0
push argument 0
push constant 0
eq
not
if-goto ELSE_5F88E56F2A
push constant 1
return
goto IF_DONE_C5219C2D00
label ELSE_5F88E56F2A
push argument 0
push constant 2
call Math.multiply 2
return
label IF_DONE_C5219C2D00
function Main.fillMemory 0
label LOOP_4BE1C02BD9
push argument 1
push constant 0
gt
not
if-goto LOOP_DONE_FA982E7C7D
push argument 0
push argument 2
call Memory.poke 2
pop temp 0
push argument 1
push constant 1
sub
pop argument 1
push argument 0
push constant 1
add
pop argument 0
goto LOOP_4BE1C02BD9
label LOOP_DONE_FA982E7C7D
push constant 0
return